@import "../libs/bootstrap/scss/variables";

// brand color
$brand-primary: #428bca;
$dark-blue: #5db1ff;
$light-blue: #8dc8ff;
$white: #fff;
$black: #000;
$light-nlack: #4e525c;
$dark-grey: #9d9dab;

// gray
$font-family-sans-serif:     'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica, Arial, sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif;

$main-text-zize: 1rem;
