@import "./_variables";
.audio-btn {
  font-size: 11rem;
  color: $brand-primary;
  display: inline-block;
  text-align: center;
}
.audio-btn-sm {
  font-size: 4rem;
  color: $brand-primary;
  display: inline-block;
  text-align: center;
}
