@import "./_variables";

.course {
  margin: 1.5rem 2rem;
  .course-image {
    width: 16rem;
    height: 9rem;
    background-color: $gray-lighter;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 0.5rem;
  }
}
