@import "./_variables";

.header {
  position: relative;
}

.header-side-memu {
  padding: 1rem;
  z-index: 1032;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform .3s;
  overflow-y: auto;
  width: 10rem;
  transform: translate(100%, 0);
  backface-visibility: hidden;
  background: #FFF;
  &.open {
    transform: translate(0%, 0);
  }
  .nav-link {
    padding-bottom: 0.8rem;
    display: block;
    color: $gray;
    font-size: 1.125rem;
    &.selected {
      color: $brand-primary;
    }
  }
}

.header-overlay {
  z-index: 1031;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background .3s;
  display: none;
  background: rgba(0, 0, 0, 0);
  &.open {
    display: block;
    background: rgba(0, 0, 0, 0.6);
  }
}
