@import './_variables.less';
@import './topBanner.less';
@import './lesson.less';
@import './course.less';

.home {
  .email-hint {
    margin-left: 4px;
  }
  .form-group {
    position: relative;
  }
  .static-field {
    height: 46px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    behavior: url(/img/PIE.htc);
    background-color: #eee;
    line-height: 24px;
  }
  .confirm-nickname-icon {
    position: absolute;
    right: 38px;
    top: 36px;
    &:hover {
      color: @brand-success;
    }
  }
  .edit-icon {
    position: absolute;
    right: 10px;
    top: 36px;
  }
  .nickname-input {
    padding-right: 70px;
  }
  .back-btn {
    padding: 14px 16px;
    font-size: 18px;
    color: @gray;
    display: inline-block;
    text-align: center;
  }
  .nav-btn {
    padding: 14px 20px;
    font-size: 18px;
    color: @gray;
    display: inline-block;
    text-align: center;
  }
  .top-nav {
  }
  .bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .audio-btn {
    font-size: 42px;
    color: @brand-primary;
    display: inline-block;
    text-align: center;
  }
  .listen-answer {
    &.fade-out {
      opacity: 0;
    }
  }
  .answer-block {
    position: relative;
    min-height: 250px;
    padding: 40px 15px;
    font-size: 18px;
  }
  .review-answer-btn {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    top: 80px;
  }
  .answer-block {
    font-size: 18px;
    padding: 40px 15px;
    min-height: 230px;
  }
  .translate-answer {
    font-size: 18px;
    padding: 0px 15px;
  }
}
