@font-face {
  font-family: "shicon";
  src: url('../fonts/shicon.eot');
  src: url('../fonts/shicon.eot?#iefix') format('eot'),
    url('../fonts/shicon.woff') format('woff'),
    url('../fonts/shicon.ttf') format('truetype'),
    url('../fonts/shicon.svg#shicon') format('svg');
}

@mixin icon-styles {
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == boss {
    $char: "\E001";
  }
  @if $filename == cuowutishi {
    $char: "\E002";
  }
  @if $filename == edit {
    $char: "\E003";
  }
  @if $filename == hamburger {
    $char: "\E004";
  }
  @if $filename == left {
    $char: "\E005";
  }
  @if $filename == lesson {
    $char: "\E006";
  }
  @if $filename == loading {
    $char: "\E007";
  }
  @if $filename == loadingdots {
    $char: "\E008";
  }
  @if $filename == mic {
    $char: "\E009";
  }
  @if $filename == micphone {
    $char: "\E00A";
  }
  @if $filename == mobile {
    $char: "\E00B";
  }
  @if $filename == pause {
    $char: "\E00C";
  }
  @if $filename == play {
    $char: "\E00D";
  }
  @if $filename == portrait {
    $char: "\E00E";
  }
  @if $filename == retry {
    $char: "\E00F";
  }
  @if $filename == right {
    $char: "\E010";
  }
  @if $filename == tick {
    $char: "\E011";
  }
  @if $filename == times {
    $char: "\E012";
  }
  @if $filename == voice-mute {
    $char: "\E013";
  }
  @if $filename == voice {
    $char: "\E014";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  font-family: "shicon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  display: inline-block;
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-boss {
  @include icon(boss);
}
.icon-cuowutishi {
  @include icon(cuowutishi);
}
.icon-edit {
  @include icon(edit);
}
.icon-hamburger {
  @include icon(hamburger);
}
.icon-left {
  @include icon(left);
}
.icon-lesson {
  @include icon(lesson);
}
.icon-loading {
  @include icon(loading);
}
.icon-loadingdots {
  @include icon(loadingdots);
}
.icon-mic {
  @include icon(mic);
}
.icon-micphone {
  @include icon(micphone);
}
.icon-mobile {
  @include icon(mobile);
}
.icon-pause {
  @include icon(pause);
}
.icon-play {
  @include icon(play);
}
.icon-portrait {
  @include icon(portrait);
}
.icon-retry {
  @include icon(retry);
}
.icon-right {
  @include icon(right);
}
.icon-tick {
  @include icon(tick);
}
.icon-times {
  @include icon(times);
}
.icon-voice-mute {
  @include icon(voice-mute);
}
.icon-voice {
  @include icon(voice);
}
