@import "./_variables";
.lesson {
  font-size: $font-size-lg;
  padding: 1.5rem 2rem;
  display: table;
  width: 100%;
  .action-btn {
    margin: 0 0.25rem;
  }
  .actions {
    display: table-cell;
    width: 8rem;
  }
  .lesson-name {
    display: table-cell;
    white-space: normal;
    word-break: break-all;
    vertical-align: middle;
  }
}
