@import "./_variables";

.pronunciation-course-list {
  .subtitle {
    margin-bottom: 1.6rem;
    color: $dark-grey;
    font-weight: bold;
  }
}

.pronunciation-course {
  margin: 0 1.5rem 1rem;
  a {
    position: relative;
    display: block;
    height: 5rem;
    background: $dark-blue;
    color: $white;
    border-radius: 1rem;
  }
  .pronunciation-course-name {
    line-height: 5rem;
    margin-bottom: 0;
  }
  .lesson-count {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    background: $white;
    color: $black;
  }
}
