@import "./_variables";
.skill-list {
  .slogan {
    margin: 4.5rem 0 2.5rem;
    color: $light-nlack;
  }
  .skill-link {
    margin: 0 1.5rem 1.5rem;
    font-size: 1.5rem;
    display: block;
    border-radius: 1.5rem;
    text-decoration: none;
    color: $white;
    overflow: hidden;
    > img {
      width: 100%;
    }
  }
}
