@import "./_variables";
.skill-list {
  .slogan {
    margin: 72px 0 40px;
    color: $light-nlack;
  }
  .skill-link {
    height: 6.25rem;
    line-height: 6.25rem;
    margin-bottom: 23px;
    font-size: 1.5rem;
    display: block;
    border-radius: 1rem;
    text-decoration: none;
    color: $white;
  }
  .pronunciation-item {
    background: $dark-blue;
  }
  .listen-item {
    background: $light-blue;
  }
  .translate-item {
    background: $dark-blue;
  }
}
