@import '../libs/bootstrap/scss/bootstrap';
@import "./_variables";
@import './icons.scss';
@import "./themes/_buttons";

.browsehappy {
  background-color: lighten($brand-warning, 0);
  color: #FFF;
  padding: 0.5rem;
  font-size: $font-size-base;
}

html {
    font-size : 15px;
}
@media only screen and (min-width: 359px){
    html {
        font-size: 16px !important;
    }
}
// 414
@media only screen and (min-width: 401px){
    html {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 22px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 24px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 26px !important;
    }
}
