@import '../libs/bootstrap/scss/bootstrap';
@import "./_variables";
@import './icons.scss';

.browsehappy {
  background-color: lighten($brand-warning, 0);
  color: #FFF;
  padding: 0.5rem;
  font-size: $font-size-base;
}

.no-padding-col {
  padding-right: 0;
  padding-left: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.hidden {
  visibility: hidden;
}

.icon-loading.spin {
  &:before {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: block;
  }
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

html {
    font-size : 15px;
}
@media only screen and (min-width: 359px){
    html {
        font-size: 16px !important;
    }
}
// 414
@media only screen and (min-width: 401px){
    html {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 22px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 24px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 26px !important;
    }
}
