<div class="form-group clearfix">
  <i class="icon-mobile mobile-icon pull-left"></i>
  <div class="login-title pull-left">手机动态码登录</div>
  <a class="pull-right switch" href="/login/?type=email">
    帐号登录
  </a>
</div>
<div class="form-group">
  <input type="text" name="mobile" class="form-control input-lg" placeholder="请填写手机号码" id="mobile-input">
  <div id="mobile-input-error" class="error-tip" style="display: none;">
    <i class="icon-cuowutishi"></i>
  </div>
</div>
<div class="form-group">
  <input type="text" name="code" class="form-control input-lg code-input" id="code-input" placeholder="验证码">
  <a class="btn btn-primary-outline get-code-btn btn-lg pull-right" id="get-code-btn">获取动态码</a>
  <div id="code-input-error" class="error-tip" style="display: none;">

  </div>
</div>
<input type="hidden" name="type" value="mobile">
<div class="form-group">
  <button type="submit" class="btn btn-danger btn-lg login-btn" id="mobile-login-btn">
    登录
  </button>
</div>
