<% layout('layout') -%>
<% script('/js/home.js') -%>
<% stylesheet('/css/home.css') -%>
<% title = '跟风学' %>
<% description = '英语口语听力掌中宝' %>

<div class="home">
  <!--[if lt IE 9]>
  <div class="browsehappy">
    您使用的浏览器版本<strong>过低</strong>，使用老旧浏览器会对您的计算机安全造成威胁，并且无法使用本网站全部功能，请<a href="http://browsehappy.com/" rel="nofollow">下载</a>最新版浏览器以达到更好地体验。
  </div>
  <![endif]-->
  <div id="app"></div>
</div>
